# IGNORE IT ALL
*

# Oh wait, except this stuff...
!.bashrc
!.bash_aliases
!.bash_profile
!.inputrc
!.tmux.conf
!.vim
!.gitignore
!.gitignore_global

!.linux-configs
!.linux-configs/*

# This is really dumb, but that's how it works...
!.config
!.config/sublime-text-3
!.config/sublime-text-3/Packages
!.config/sublime-text-3/Packages/User
!.config/sublime-text-3/Packages/User/*.sublime-settings

!.AndroidStudio2.1
!.AndroidStudio2.1/config/
!.AndroidStudio2.1/config/settings.jar

!screen-records/
!screen-records/gifify.sh

!scripts/
!scripts/scrot-shot.sh
!scripts/ssh-find-agent/
!scripts/ssh-find-agent/ssh-find-agent.sh
!scripts/ssh-find-agent/README.md

!local-projects/
!local-projects/github-stylish-custom.css

!README.md
